.body{
    width: 100%;
    float: left;
    height: 100%;
}
/* mobile */
@media only screen and (min-width:768px) and (max-width: 1200px){
    .title-nominated,
    .title-upcoming,
    .title-updated{
        font-size: 20px !important;
    }
    .more-film span{
        font-size: 13px !important;
    }
    .first-film-updated .slider-film,
    .first-film-upcoming .slider-film{
        height: 250px !important;
    }
}
@media only screen and (max-width:767px ) {
    .title-nominated,
    .title-upcoming,
    .title-updated{
        font-size: 17px !important;
    }
    .more-film span{
        font-size: 12px !important;
    }
    .more-film span svg{
        font-size: 15px !important;
    }
    .first-film-updated .slider-film,
    .first-film-upcoming .slider-film{
        height: 250px !important;
    }
}